@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat&family=Overpass&display=swap');

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Merienda', cursive;
  margin: 0;
  padding: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

hr {
  height: 0;
  width: 70%;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}

a {
  color: #007eec;
  text-decoration: none;
  transition: color 200ms ease-out;
}

a:hover {
  color: #08477e;
}
